/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: white url(../img/joses_story.png);
	color: white;
}

/* 2. Content ================================= */


header {
	height: 100vh; 
	min-height: 500px;
	max-height: 1200px;

	background: url(../img/jose-in-words.png) no-repeat;
	background-size: contain;
	background-position-x: calc(50%);
	position: relative;
}

section{
	// how to do full screen experiences safely
	// height: 100vh; 
	// min-height: 500px;
	// max-height: 1200px;

	height: auto;
	padding: 30px 0;
}

.paragraph-text{
	position: relative;
	z-index: 5;
}


p{
	font-family: "adobe-garamond-pro";
	font-size: 24px;
	line-height: 150%;
	width: 100%;
	max-width: 900px;
	margin: 50px auto;
	text-shadow: 0px 0px 20px #000000, 0px 0px 20px #000000, 0px 0px 20px #000000;;
	position: relative;
}

.first-scene{
	width: 500px;
	margin-left: 13%;
}

.second-scene{
	width: 520px;
	margin-left: 55%;

	&:first-child{
		margin-bottom: 0px;
	}

	// &:last-child{
	// 	margin-top: 20px;
	// }
}

.empty{
	height: 300px;

	&.empty-show {
		border: 1px solid red;
	}
}

// .first-part{
// 	top: 50%;
// }

.airplane-stuff{
	position: relative;
	display: flex;
	margin-top: -200px; 
	
	.airplane-dust{
		background: url(../img/airplane-dust.png) no-repeat;
		background-size: cover;
		position: relative;
		width: 600px;
		height: 100px;
		opacity: 0;
	}
	
	.airplane{
		left: -1000px;
		background: url(../img/airplane.png) no-repeat;
		background-size: contain;
		position: relative;
		width: 500px;
		height: 300px;
	}
}


.michigan{
	background: url(../img/michigan.png) no-repeat;
	background-size: contain;
	position: relative;
	width: 500px;
	height: 500px;
	left: calc(100% - 750px);
	margin-top: -400px;
	opacity: 0;
}

// .jose{
// 	display: flex;
// 	justify-content: flex-start;
// 	align-items: center;
// 	margin-top: -300px;

// 	.jose-trashbag{
// 		background: url(../img/jose-trashbag.png) no-repeat;
// 		background-size: contain;
// 		position: relative;
// 		width: 150px;
// 		height: 210px;
// 	}

// 	.jose-boy{
// 		background: url(../img/jose-boy.png) no-repeat;
// 		background-size: contain;
// 		position: relative;
// 		width: 300px;
// 		height: 574px;
// 	}

// 	.jose-drawing{
// 		background: url(../img/jose-drawing.png) no-repeat;
// 		background-size: contain;
// 		position: relative;
// 		width: 152px;
// 		height: 150px;
// 	}
// }

.jose-new{
	background: url(../img/complete-jose.png) no-repeat;
	background-size: contain;
	position: relative;
	width: 600px;
	height:620px;
	margin-left: 15%;
    margin-top: -600px;
}

.quote{
	background: url(../img/revisedbigquote.png) no-repeat;
	background-size: contain;
	position: relative;
	width: 750px;
	height: 175px;
	left: 45%;
	transition: 0.2s;
	margin-top: -200px;
	z-index: 10;
	
	&:hover{
		background: url(../img/revisedbigquoteeng.png) no-repeat;
		background-size: contain;
	}

}