/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: white url(../img/joses_story.png);
	color: white;
}

/* 2. Content ================================= */

section{
	height: 100vh;
}

.header{
	background: url(../img/jose-in-words.png) no-repeat;
	background-size: contain;
	background-position-x: calc(50%);
	position: relative;
	z-index: 40;
}

p{
	font-family: sans-serif;
	font-size: 20px;
}

.rellax{
	width: 400px;
}